.book-details-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .book-details {
    display: inline-block;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-details p {
    margin: 5px 0;
  }
  